* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 10vh;
}

.row {
  margin-top: 30px;
}

.value {
  font-size: 30px;
}
.active {
  background-color: rgba(66, 1, 1, 0.336);
  width: 40px;
}
.result {
  font-size: 40px;
}
