* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 10vh;
}

.row {
  margin-top: 30px;
}

.value {
  font-size: 30px;
}
.active {
  color: red;
}
.result {
  font-size: 40px;
}

.start::after {
  content: "start";
  position: absolute;
  top: -40px;
  left: 5px;
  color: blue;
  width: 100%;
  height: 100%;
}

.end::before {
  content: "end";
  position: absolute;
  bottom: -60px;
  left: 5px;
  color: yellow;
  width: 100%;
  height: 100%;
}
